<%- include('../includes/head.ejs')  %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs')  %>

    <main>
        <div class="products-detsils">
            <h2><%= proddetails.title %></h2>
            <img src="<%= proddetails.imageUrl %>" title="<%= proddetails.title %>"  width="200"/>
            <div>Price: $<span><%= proddetails.price %></span></div>
            <div>Description: <p><%= proddetails.description %></p></div>
            <form action="/cart" method="POST">
                <button type="submit" class="btn">Add to Cart</button>
                <input type="hidden" name="productId" value="<%= proddetails._id %>">
            </form>
        </div>
    </main>
<%- include('../includes/end.ejs')  %>